block vars
	- var bodyClass = 'default'

html(lang='en')
  head

    title Layout.pug

  body(class=bodyClass)
    block content
    
    block scripts
      script(src='/bundle.js')
    



        
